/*-------------------------------------------------------banner-------------------------------------------------------*/
#banner {
  background: url(../images/common/bgBanner.jpg)no-repeat center top;
  background-size: cover;
  padding: 153px 0 76px;
  margin: -124px 0 0 0;
  .bnTop{
    margin: 0 auto 156px 0;
    max-width: 404px;
    width: 100%;
  }
  .bnBot{
    margin: 0 0 0 auto;
    max-width: 699px;
    width: 100%;
    text-align: right;
    p{
      margin: 0;
      font-family: "Playfair Display";
      font-weight: 400;
      font-size: 65px;
      color: #FFF;
      text-shadow: 0 0 20px #000;
      line-height: 71px;
      margin: 0 0 11px;
    }
  }
}
