/*footer*/

#footer {
  background: #04396C;
  .silver img {
    display: inline-block;
    vertical-align: middle;
    max-width: 50px;
  }
  .ftTop{
    background: #49A246;
    padding: 18px 0;
    .row{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    .ftTopLeft {
      max-width: 326px;
      width: 100%;
      .ftLogo {
        max-width: 225px;
        width: 100%;
        margin: 0 auto;
      }
    }
    .ftTopRight {
      max-width: 886px;
      width: 100%;
      ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        li{
          color: #FFF;
          font-family: "Montserrat";
          font-weight: 600;
          font-size: 16px;
          color: #FFF;
          line-height: 23px;
          letter-spacing: 1px;
          &.border {
            font-size: 20px;
            font-weight: 400;
            color: rgba(255,255,255,0.42)
          }
        }
      }
    }
  }
  .ftMid{
    background: url(../images/common/bgMap.jpg)no-repeat center center;
    background-size: cover;
    .container{
      background: rgba(0,0,0,0.75);
      padding: 107px 0 140px;
      text-align: center;
      max-width: 352px;
      margin: 0 auto 0 0;
      p{
        max-width: 251px;
        margin: 0 auto;
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        color: #FFF;
        span{
          margin-top: 22px;
          display: block;
        }
      }
    }
  }
  .ftBot{
    padding: 20px 0;
    background: #111111;
    p{
      margin: 5px auto;
      text-transform: uppercase;
      font-family: "Montserrat";
      font-size: 13px;
      color: #FFF;
    }
  }
}
