/*-------------------------------------------------------header-------------------------------------------------------*/

#header {
  position: relative;
  background: none;
  z-index: 99;
  nav {
    a#pull {
      display: none;
    }
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      li {
        display: inline-block;
        vertical-align: middle;
        color: #FFF;
        font-family: "Playfair Display";
        font-weight: 400;
        font-size: 17px;
        color: #FFF;
        line-height: 24px;
        a {
          position: relative;
          font-family: "Playfair Display";
          font-weight: 400;
          font-size: 17px;
          color: #FFF;
          line-height: 24px;
          letter-spacing: 2px;
        }
        &.border{
          color: rgba(255,255,255,0.42)
        }
        &.active-menu a, a:hover {
          color: #fff;
        }
      }
    }
  }
  .hdTop{
    background: rgba(73,162,70,0.88);
    padding: 9px;
    .container{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      p{
        margin: 0;
        a{
          font-size: 25px;
          color: #FFF;
          margin-right: 45px;
          &:last-child{
            margin-right: 0;
          }
        }
        &:first-child{
          text-align: left;
        }
        &:last-child{
          text-align: right;
          a{
            display: inline-block;
            vertical-align: middle;
            line-height: 44px;
            font-family: "Montserrat";
            font-size: 35px;
          }
          img{
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
          }
        }
      }
    }
  }
  .hdBot{
    padding: 38px 0 0;
  }
}
