/*-------------------------------------------------------section6-------------------------------------------------------*/
#testimonial{
  .row{
    max-width: 1600px;
    margin: 0 auto;
  }
  .container{
    display: flex;
    flex-direction: row;
    align-content: stretch;
    .testimonial-img{
      max-width: 810px;
      width: 51%;
      position: relative;
    }
    .testRight{
      padding: 55px 0 53px;
      max-width: 528px;
      margin: 0 auto 0 76px;
      width: 49%;
      text-align: left;
      h2{
        line-height: 83px;
      }
      p{
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 1px;
        font-style: italic;
        line-height: 27px;
        .star{
          display: block;
          font-size: 20px;
          color: #D9D900;
          line-height: 20px;
          letter-spacing: 2px;
          font-style: normal;
          margin-bottom: 10px;
        }
        .auth{
          display: block;
          font-style: normal;
          color: #48A146;
        }
      }
    }
  }
}
