/*-------------------------------------------------------section7-------------------------------------------------------*/
#cntDetails{
  .row{
    max-width: 1600px;
    margin: 0 auto;
  }
  .container{
    display: flex;
    flex-direction: row;
    align-content: stretch;
    .cdLeft{
      padding: 57px 0 47px;;
      max-width: 528px;
      margin: 0 76px 0 auto;
      width: 49%;
      text-align: left;
      h2{
        line-height: 77px;
      }
      p{
        margin: 20px 0;
        span{
          display: inline-block;
          vertical-align: middle;
          margin-right: 15px;
        }
        span.txt{
          display: inline-block;
          vertical-align: middle;
          font-family: "Montserrat";
          font-weight: 400;
          font-size: 20px;
          color: #444444;
        }
        &:nth-of-type(2){
          span{
            margin-right: 10px;
          }
        }
        .botPhone{
          font-family: "Montserrat";
          font-weight: 400;
          font-size: 30px;
          color: #444444;
        }
      }
    }
    .contact-img{
      max-width: 810px;
      width: 51%;
      position: relative;
    }
  }
}
