/*-------------------------------------------------------section3-------------------------------------------------------*/
#about{
  background: #FFF;
  .row {
    max-width: 1600px;
    margin: 0 auto;
  }
  .container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: nowrap;
    .about-img {
      max-width: 809px;
      width: 50%;
    }
    .aboutRight {
      padding: 85px 0 56px;
      .text {
        max-width: 555px;
        margin: 0 auto 0 64px;
        text-align: left;
        h2{
          line-height: 77px;
        }
        p{
          font-family: "Montserrat";
          font-size: 16px;
          font-weight: 400;
          line-height: 28px;
          letter-spacing: 0.7px;
          color: #000;
        }
      }
    }
  }
}
