/*-------------------------------------------------------section1-------------------------------------------------------*/
#welcome{
  background: #49A246;
  .row{
    max-width: 1600px;
    margin: 0 auto;
  }
  .container{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: nowrap;
    .wlcLeft{
      padding: 82px 0 76px;
      max-width: 800px;
      width: 100%;
      .text{
        text-align: left;
        max-width: 555px;
        margin: 0 44px 0 auto;
      }
      h2{
        color: #FFF;
        line-height: 77px;
      }
      p{
        font-family: "Montserrat";
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0.7px;
        color: #FFF;
      }
      .wlcPhone{
        font-family: "Montserrat";
        font-size: 35px;
        font-weight: 400;
        color: #FFF;
        display: inline-block;
        vertical-align: super;
        line-height: 44px;
        margin-left: 15px;
      }
    }
    .welcome-img {
      max-width: 809px;
      width: 50%;
    }
  }
}
