/*-------------------------------------------------------section5-------------------------------------------------------*/
#contact{
  background: url(../images/common/bgContact.jpg)no-repeat center top;
  background-size: cover;
  padding: 68px 0;
  .row {
    max-width: 1200px;
  }
  .container {
    padding: 42px 0;
    background: #FFF;
    h2{
      color: #000;
      position: relative;
      max-width: 513px;
      width: 100%;
      margin: 0 auto;
      &::before{
        content: '';
        width: 47px;
        height: 5px;
        background:#49A246;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
      }
      &::after{
        content: '';
        width: 47px;
        height: 5px;
        background:#49A246;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
      }
    }
    .ctc-form {
      .contact-container {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        max-width: 900px;
        width: 100%;
        margin: 20px auto 0;
        .cntLeft {
          max-width: 439px;
          width: 90%;
          input[type="text"]{
            height: 40px;
            border-radius: 0;
            border: 2px solid #DDDDDD;
            &::placeholder{
              font-family: "Montserrat";
              font-weight: 500;
              font-size: 16px;
              color: #444444;
              text-transform: uppercase;
              letter-spacing: 1px;
            }
          }
          label:nth-of-type(2){
            input[type="text"]{
              margin: 22px auto;
            }
          }
        }
        .cntRight {
          max-width: 439px;
          width: 90%;
          textarea{
            height: 164px;
            border-radius: 0;
            border: 2px solid #DDDDDD;
            &::placeholder{
              font-family: "Montserrat";
              font-weight: 500;
              font-size: 16px;
              color: #444444;
              text-transform: uppercase;
              letter-spacing: 1px;
            }
          }
        }
      }
      .btn{
        border: none;
      }
    }
  }
}
