/*-------------------------------------------------------section4-------------------------------------------------------*/
#gallery{
  padding: 18px 0;
  .row {
    max-width: 1600px;
    margin: 0 auto;
  }
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    .gallery-img {
      position: relative;
      img{
        max-width: 320px;
        width: 100%;
        margin-bottom: -4px;
      }
      .cover{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(0,0,0,0.76);
        z-index: 1;
        .text{
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;
          transform: translateY(-50%);
          h2{
            color: #FFF;
            line-height: 120%;
            margin-bottom: 13px;
          }
        }
      }
    }
  }
}
