/*-------------------------------------------------------section1-------------------------------------------------------*/
#services{
  background: url(../images/common/bgSection1.jpg)no-repeat center top;
  background-size: cover;
  padding: 39px 0 56px;
  .row{
    max-width: 1474px;
  }
  h2{
    position: relative;
    max-width: 563px;
    width: 100%;
    margin: 0 auto;
    &::before{
      content: '';
      width: 47px;
      height: 5px;
      background:#49A246;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }
    &::after{
      content: '';
      width: 47px;
      height: 5px;
      background:#49A246;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
    }
  }
  .container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: 23px 0 0;
    .services-box{
      position: relative;
      max-width: 349px;
      width: 24%;
      height: 100%;
      img{
        max-width: 349px;
        width: 100%;
        height: auto;
        margin-bottom: -4px;
      }
      p{
        padding: 12px 0;
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 23px;
        color: #FFFFFF;
        max-width: 250px;
        margin: 0 auto;
        line-height: 120%;
        position: absolute;
        bottom: 19px;
        left: 0;
        right: 0;
        z-index: 2;
        align-self: flex-start;
        &:before{
          content: '';
          position: absolute;
          top: 0;
          left: 50%;
          width: 109px;
          height: 1px;
          transform: translateX(-50%);
          background: rgba(255,255,255,0.64)
        }
      }
      &:nth-of-type(2) p, &:nth-of-type(3) p, &:nth-of-type(4) p{
        padding: 25.5px 0;
      }
      &::before{
        content:'';
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(transparent 50%,#49A246 100%);
        z-index: 1;
      }
    }
  }
}
