h1 {
  font-size: 71px;
  font-weight: 400;
  font-family: "Playfair Display";
  color: #000;

}
h2{
  font-size: 71px;
  font-weight: 400;
  font-family: "Playfair Display";
  color: #48A146;
  span{
    color: #000000;
  }
}
.socialico{
  font-family: 'Socialico';
}
