@font-face { font-family: "socialico"; src: url("fonts/Socialico/Socialico.eot"); src: url("fonts/Socialico/Socialico.eot?#iefix") format("embedded-opentype"), url("fonts/Socialico/Socialico.woff2") format("woff2"), url("fonts/Socialico/Socialico.woff") format("woff"), url("fonts/Socialico/Socialico.ttf") format("truetype"), url("fonts/Socialico/Socialico.svg#lobster_1.4regular") format("svg"); }

@font-face { font-family: 'Playfair Display'; src: url("fonts/PlayfairDisplay-Regular.woff2") format("woff2"), url("fonts/PlayfairDisplay-Regular.woff") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Playfair Display'; src: url("fonts/PlayfairDisplay-Bold.woff2") format("woff2"), url("fonts/PlayfairDisplay-Bold.woff") format("woff"); font-weight: bold; font-style: normal; }

@font-face { font-family: 'Playfair Display'; src: url("fonts/PlayfairDisplay-Italic.woff2") format("woff2"), url("fonts/PlayfairDisplay-Italic.woff") format("woff"); font-weight: normal; font-style: italic; }

@font-face { font-family: 'Montserrat'; src: url("fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("fonts/Montserrat-ExtraBold.woff") format("woff"); font-weight: 800; font-style: normal; }

@font-face { font-family: 'Montserrat'; src: url("fonts/Montserrat-Bold.woff2") format("woff2"), url("fonts/Montserrat-Bold.woff") format("woff"); font-weight: bold; font-style: normal; }

@font-face { font-family: 'Montserrat'; src: url("fonts/Montserrat-Italic.woff2") format("woff2"), url("fonts/Montserrat-Italic.woff") format("woff"); font-weight: normal; font-style: italic; }

@font-face { font-family: 'Montserrat'; src: url("fonts/Montserrat-Medium.woff2") format("woff2"), url("fonts/Montserrat-Medium.woff") format("woff"); font-weight: 500; font-style: normal; }

@font-face { font-family: 'Montserrat'; src: url("fonts/Montserrat-SemiBold.woff2") format("woff2"), url("fonts/Montserrat-SemiBold.woff") format("woff"); font-weight: 600; font-style: normal; }

@font-face { font-family: 'Montserrat'; src: url("fonts/Montserrat-Regular.woff2") format("woff2"), url("fonts/Montserrat-Regular.woff") format("woff"); font-weight: normal; font-style: normal; }

.suspension-contain { max-height: 980px; overflow: hidden; position: relative; }

html.suspended { background: rgba(0, 0, 0, 0.6); }

body { max-width: 100%; min-width: 1200px; margin: 0 auto; text-align: center; font-family: Arial; }

a { color: inherit; text-decoration: none; }

a:hover { text-decoration: none; color: inherit; }

h1, h2, h3, h4, h5 { padding: 0; margin: 0; }

.row { max-width: 1200px; margin: 0 auto; }

/*floats*/
.fl { float: left; }

.fr { float: right; }

/*sprites*/
.bg-phone1 { background: url("../images/common/css-sprites.png") no-repeat -6px 0; width: 33px; height: 34px; }

.bg-phone2 { background: url("../images/common/css-sprites.png") no-repeat -71px -2px; width: 33px; height: 33px; }

.bg-email { background: url(../images/common/css-sprites.png) no-repeat 0px -49px; width: 40px; height: 33px; }

.bg-location { background: url(../images/common/css-sprites.png) no-repeat -68px -54px; width: 36px; height: 45px; }

.bg-clock { background: url("../images/common/css-sprites.png") no-repeat -2px -101px; width: 33px; height: 33px; }

/*grids*/
.col-1 { width: 8.33%; }

.col-2 { width: 16.66%; }

.col-3 { width: 25%; }

.col-4 { width: 33.33%; }

.col-5 { width: 41.66%; }

.col-6 { width: 50%; }

.col-7 { width: 58.33%; }

.col-8 { width: 66.66%; }

.col-9 { width: 75%; }

.col-10 { width: 83.33%; }

.col-11 { width: 91.66%; }

.col-12 { width: 100%; }

/*typography*/
.text-primary { color: #B11414; }

.text-bold { font-weight: 700; }

.text-uppercase { text-transform: uppercase; }

.text-center { text-align: center !important; }

.text-left { text-align: left; }

/*button*/
.btn { text-align: center; font-family: "Montserrat"; font-size: 16px; font-weight: 600; color: #FFF; display: inline-block; padding: 12.5px 0; max-width: 194px; width: 100%; background: -webkit-gradient(linear, left top, left bottom, from(#8DC73F), to(#418F3F)); background: -webkit-linear-gradient(#8DC73F, #418F3F); background: -o-linear-gradient(#8DC73F, #418F3F); background: linear-gradient(#8DC73F, #418F3F); border: 1px solid none; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }

.btn:hover { background: #ddd; border-color: #ddd; color: #ddd; color: #000; }

/*clearings*/
.clear { clear: both; }

.clearfix { display: block; }

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; font-size: 0; }

/*cookie*/
.cc-animate.cc-revoke.cc-bottom { font-size: 14px; padding: 5px 10px; position: fixed; display: block !important; -webkit-transform: none !important; -ms-transform: none !important; transform: none !important; bottom: 0 !important; left: 20px !important; }

/*call to action*/
.destroy-on-load, .cta { display: none; }

/*contact form messages*/
form .messages p { display: none; font-family: Arial !important; font-weight: 400 !important; letter-spacing: 0 !important; font-size: 16px !important; }

form .loading { display: none; }

form .alert { padding: 15px; margin-bottom: 20px; border: 1px solid transparent; border-radius: 4px; }

form .alert-success { color: #3c763d; background-color: #dff0d8; border-color: #d6e9c6; }

form .alert-danger { color: #a94442; background-color: #f2dede; border-color: #ebccd1; }

form [type="submit"] { margin: 20px auto; }

/*contact form*/
.ctc-form { margin: 0 auto; text-align: center; }

.ctc-form input[type="text"] { font-family: Arial; font-size: 16px; color: #000; height: 45px; display: block; width: 100%; border: 1px solid #ddd; border-radius: 3px; padding: 5px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0 auto 8px; }

.ctc-form textarea { font-family: Arial; font-size: 16px; color: #000; height: 45px; display: block; width: 100%; border: 1px solid #ddd; border-radius: 3px; padding: 5px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0 auto 8px; height: 120px; padding-top: 10px; }

.ctc-form button { display: block; }

.ctc-form .recap { display: inline-block; }

.ctc-form .g-recaptcha div { margin: 0 auto 10px; }

.ctc-form .ctc-hide { display: none; }

/*gallery*/
#content .gallery-container { text-align: center; }

#content .gallery { list-style-type: none; margin: 0; padding: 0; }

#content .gallery li { display: inline-block; }

#content .thumbnail { background-color: #fff; border: 1px solid #ddd; border-radius: 4px; display: block; line-height: .42857; margin-bottom: 20px; padding: 4px; -webkit-transition: border 0.5s ease-in-out 0s; -o-transition: border 0.5s ease-in-out 0s; transition: border 0.5s ease-in-out 0s; }

#content .thumbnail:hover { -webkit-transform: scale(1.02); -ms-transform: scale(1.02); transform: scale(1.02); }

#content .page_navigation { display: inline-block; }

#content .page_link, #content .previous_link, #content .next_link, #content .first_link, #content .last_link, #content .ellipse { background-color: #fff; border: 1px solid #ddd; color: #0275d8; display: inline-block; line-height: 1.25; margin-left: -1px; padding: 0.5rem 0.75rem; position: relative; }

#content .page_navigation > a:hover { background-color: #eceeef; border-color: #ddd; color: #014c8c; text-decoration: none; }

.page_navigation > a.active_page { background-color: #eceeef; border-color: #ddd; color: #014c8c; text-decoration: none; }

h1 { font-size: 71px; font-weight: 400; font-family: "Playfair Display"; color: #000; }

h2 { font-size: 71px; font-weight: 400; font-family: "Playfair Display"; color: #48A146; }

h2 span { color: #000000; }

.socialico { font-family: 'Socialico'; }

/*-------------------------------------------------------header-------------------------------------------------------*/
#header { position: relative; background: none; z-index: 99; }

#header nav a#pull { display: none; }

#header nav ul { margin: 0; padding: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

#header nav ul li { display: inline-block; vertical-align: middle; color: #FFF; font-family: "Playfair Display"; font-weight: 400; font-size: 17px; color: #FFF; line-height: 24px; }

#header nav ul li a { position: relative; font-family: "Playfair Display"; font-weight: 400; font-size: 17px; color: #FFF; line-height: 24px; letter-spacing: 2px; }

#header nav ul li.border { color: rgba(255, 255, 255, 0.42); }

#header nav ul li.active-menu a, #header nav ul li a:hover { color: #fff; }

#header .hdTop { background: rgba(73, 162, 70, 0.88); padding: 9px; }

#header .hdTop .container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#header .hdTop .container p { margin: 0; }

#header .hdTop .container p a { font-size: 25px; color: #FFF; margin-right: 45px; }

#header .hdTop .container p a:last-child { margin-right: 0; }

#header .hdTop .container p:first-child { text-align: left; }

#header .hdTop .container p:last-child { text-align: right; }

#header .hdTop .container p:last-child a { display: inline-block; vertical-align: middle; line-height: 44px; font-family: "Montserrat"; font-size: 35px; }

#header .hdTop .container p:last-child img { display: inline-block; vertical-align: middle; margin-right: 10px; }

#header .hdBot { padding: 38px 0 0; }

/*-------------------------------------------------------banner-------------------------------------------------------*/
#banner { background: url(../images/common/bgBanner.jpg) no-repeat center top; background-size: cover; padding: 153px 0 76px; margin: -124px 0 0 0; }

#banner .bnTop { margin: 0 auto 156px 0; max-width: 404px; width: 100%; }

#banner .bnBot { margin: 0 0 0 auto; max-width: 699px; width: 100%; text-align: right; }

#banner .bnBot p { margin: 0; font-family: "Playfair Display"; font-weight: 400; font-size: 65px; color: #FFF; text-shadow: 0 0 20px #000; line-height: 71px; margin: 0 0 11px; }

/*-------------------------------------------------------section1-------------------------------------------------------*/
#services { background: url(../images/common/bgSection1.jpg) no-repeat center top; background-size: cover; padding: 39px 0 56px; }

#services .row { max-width: 1474px; }

#services h2 { position: relative; max-width: 563px; width: 100%; margin: 0 auto; }

#services h2::before { content: ''; width: 47px; height: 5px; background: #49A246; position: absolute; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); left: 0; }

#services h2::after { content: ''; width: 47px; height: 5px; background: #49A246; position: absolute; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); right: 0; }

#services .container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding: 23px 0 0; }

#services .container .services-box { position: relative; max-width: 349px; width: 24%; height: 100%; }

#services .container .services-box img { max-width: 349px; width: 100%; height: auto; margin-bottom: -4px; }

#services .container .services-box p { padding: 12px 0; font-family: 'Montserrat'; font-weight: 700; font-size: 23px; color: #FFFFFF; max-width: 250px; margin: 0 auto; line-height: 120%; position: absolute; bottom: 19px; left: 0; right: 0; z-index: 2; -ms-flex-item-align: start; align-self: flex-start; }

#services .container .services-box p:before { content: ''; position: absolute; top: 0; left: 50%; width: 109px; height: 1px; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); background: rgba(255, 255, 255, 0.64); }

#services .container .services-box:nth-of-type(2) p, #services .container .services-box:nth-of-type(3) p, #services .container .services-box:nth-of-type(4) p { padding: 25.5px 0; }

#services .container .services-box::before { content: ''; width: 100%; position: absolute; top: 0; bottom: 0; left: 0; right: 0; background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(#49A246)); background: -webkit-linear-gradient(transparent 50%, #49A246 100%); background: -o-linear-gradient(transparent 50%, #49A246 100%); background: linear-gradient(transparent 50%, #49A246 100%); z-index: 1; }

/*-------------------------------------------------------section1-------------------------------------------------------*/
#welcome { background: #49A246; }

#welcome .row { max-width: 1600px; margin: 0 auto; }

#welcome .container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; -ms-flex-wrap: nowrap; flex-wrap: nowrap; }

#welcome .container .wlcLeft { padding: 82px 0 76px; max-width: 800px; width: 100%; }

#welcome .container .wlcLeft .text { text-align: left; max-width: 555px; margin: 0 44px 0 auto; }

#welcome .container .wlcLeft h2 { color: #FFF; line-height: 77px; }

#welcome .container .wlcLeft p { font-family: "Montserrat"; font-size: 16px; font-weight: 400; line-height: 28px; letter-spacing: 0.7px; color: #FFF; }

#welcome .container .wlcLeft .wlcPhone { font-family: "Montserrat"; font-size: 35px; font-weight: 400; color: #FFF; display: inline-block; vertical-align: super; line-height: 44px; margin-left: 15px; }

#welcome .container .welcome-img { max-width: 809px; width: 50%; }

/*-------------------------------------------------------section3-------------------------------------------------------*/
#about { background: #FFF; }

#about .row { max-width: 1600px; margin: 0 auto; }

#about .container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; -ms-flex-wrap: nowrap; flex-wrap: nowrap; }

#about .container .about-img { max-width: 809px; width: 50%; }

#about .container .aboutRight { padding: 85px 0 56px; }

#about .container .aboutRight .text { max-width: 555px; margin: 0 auto 0 64px; text-align: left; }

#about .container .aboutRight .text h2 { line-height: 77px; }

#about .container .aboutRight .text p { font-family: "Montserrat"; font-size: 16px; font-weight: 400; line-height: 28px; letter-spacing: 0.7px; color: #000; }

/*-------------------------------------------------------section4-------------------------------------------------------*/
#gallery { padding: 18px 0; }

#gallery .row { max-width: 1600px; margin: 0 auto; }

#gallery .container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; }

#gallery .container .gallery-img { position: relative; }

#gallery .container .gallery-img img { max-width: 320px; width: 100%; margin-bottom: -4px; }

#gallery .container .gallery-img .cover { position: absolute; top: 0; right: 0; left: 0; bottom: 0; background: rgba(0, 0, 0, 0.76); z-index: 1; }

#gallery .container .gallery-img .cover .text { position: absolute; top: 50%; left: 0; right: 0; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }

#gallery .container .gallery-img .cover .text h2 { color: #FFF; line-height: 120%; margin-bottom: 13px; }

/*-------------------------------------------------------section5-------------------------------------------------------*/
#contact { background: url(../images/common/bgContact.jpg) no-repeat center top; background-size: cover; padding: 68px 0; }

#contact .row { max-width: 1200px; }

#contact .container { padding: 42px 0; background: #FFF; }

#contact .container h2 { color: #000; position: relative; max-width: 513px; width: 100%; margin: 0 auto; }

#contact .container h2::before { content: ''; width: 47px; height: 5px; background: #49A246; position: absolute; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); left: 0; }

#contact .container h2::after { content: ''; width: 47px; height: 5px; background: #49A246; position: absolute; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); right: 0; }

#contact .container .ctc-form .contact-container { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; max-width: 900px; width: 100%; margin: 20px auto 0; }

#contact .container .ctc-form .contact-container .cntLeft { max-width: 439px; width: 90%; }

#contact .container .ctc-form .contact-container .cntLeft input[type="text"] { height: 40px; border-radius: 0; border: 2px solid #DDDDDD; }

#contact .container .ctc-form .contact-container .cntLeft input[type="text"]::-webkit-input-placeholder { font-family: "Montserrat"; font-weight: 500; font-size: 16px; color: #444444; text-transform: uppercase; letter-spacing: 1px; }

#contact .container .ctc-form .contact-container .cntLeft input[type="text"]:-ms-input-placeholder { font-family: "Montserrat"; font-weight: 500; font-size: 16px; color: #444444; text-transform: uppercase; letter-spacing: 1px; }

#contact .container .ctc-form .contact-container .cntLeft input[type="text"]::-ms-input-placeholder { font-family: "Montserrat"; font-weight: 500; font-size: 16px; color: #444444; text-transform: uppercase; letter-spacing: 1px; }

#contact .container .ctc-form .contact-container .cntLeft input[type="text"]::placeholder { font-family: "Montserrat"; font-weight: 500; font-size: 16px; color: #444444; text-transform: uppercase; letter-spacing: 1px; }

#contact .container .ctc-form .contact-container .cntLeft label:nth-of-type(2) input[type="text"] { margin: 22px auto; }

#contact .container .ctc-form .contact-container .cntRight { max-width: 439px; width: 90%; }

#contact .container .ctc-form .contact-container .cntRight textarea { height: 164px; border-radius: 0; border: 2px solid #DDDDDD; }

#contact .container .ctc-form .contact-container .cntRight textarea::-webkit-input-placeholder { font-family: "Montserrat"; font-weight: 500; font-size: 16px; color: #444444; text-transform: uppercase; letter-spacing: 1px; }

#contact .container .ctc-form .contact-container .cntRight textarea:-ms-input-placeholder { font-family: "Montserrat"; font-weight: 500; font-size: 16px; color: #444444; text-transform: uppercase; letter-spacing: 1px; }

#contact .container .ctc-form .contact-container .cntRight textarea::-ms-input-placeholder { font-family: "Montserrat"; font-weight: 500; font-size: 16px; color: #444444; text-transform: uppercase; letter-spacing: 1px; }

#contact .container .ctc-form .contact-container .cntRight textarea::placeholder { font-family: "Montserrat"; font-weight: 500; font-size: 16px; color: #444444; text-transform: uppercase; letter-spacing: 1px; }

#contact .container .ctc-form .btn { border: none; }

/*-------------------------------------------------------section6-------------------------------------------------------*/
#testimonial .row { max-width: 1600px; margin: 0 auto; }

#testimonial .container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-line-pack: stretch; align-content: stretch; }

#testimonial .container .testimonial-img { max-width: 810px; width: 51%; position: relative; }

#testimonial .container .testRight { padding: 55px 0 53px; max-width: 528px; margin: 0 auto 0 76px; width: 49%; text-align: left; }

#testimonial .container .testRight h2 { line-height: 83px; }

#testimonial .container .testRight p { font-family: "Montserrat"; font-weight: 400; font-size: 16px; letter-spacing: 1px; font-style: italic; line-height: 27px; }

#testimonial .container .testRight p .star { display: block; font-size: 20px; color: #D9D900; line-height: 20px; letter-spacing: 2px; font-style: normal; margin-bottom: 10px; }

#testimonial .container .testRight p .auth { display: block; font-style: normal; color: #48A146; }

/*-------------------------------------------------------section7-------------------------------------------------------*/
#cntDetails .row { max-width: 1600px; margin: 0 auto; }

#cntDetails .container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-line-pack: stretch; align-content: stretch; }

#cntDetails .container .cdLeft { padding: 57px 0 47px; max-width: 528px; margin: 0 76px 0 auto; width: 49%; text-align: left; }

#cntDetails .container .cdLeft h2 { line-height: 77px; }

#cntDetails .container .cdLeft p { margin: 20px 0; }

#cntDetails .container .cdLeft p span { display: inline-block; vertical-align: middle; margin-right: 15px; }

#cntDetails .container .cdLeft p span.txt { display: inline-block; vertical-align: middle; font-family: "Montserrat"; font-weight: 400; font-size: 20px; color: #444444; }

#cntDetails .container .cdLeft p:nth-of-type(2) span { margin-right: 10px; }

#cntDetails .container .cdLeft p .botPhone { font-family: "Montserrat"; font-weight: 400; font-size: 30px; color: #444444; }

#cntDetails .container .contact-img { max-width: 810px; width: 51%; position: relative; }

/*footer*/
#footer { background: #04396C; }

#footer .silver img { display: inline-block; vertical-align: middle; max-width: 50px; }

#footer .ftTop { background: #49A246; padding: 18px 0; }

#footer .ftTop .row { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#footer .ftTop .ftTopLeft { max-width: 326px; width: 100%; }

#footer .ftTop .ftTopLeft .ftLogo { max-width: 225px; width: 100%; margin: 0 auto; }

#footer .ftTop .ftTopRight { max-width: 886px; width: 100%; }

#footer .ftTop .ftTopRight ul { list-style-type: none; padding: 0; margin: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#footer .ftTop .ftTopRight ul li { color: #FFF; font-family: "Montserrat"; font-weight: 600; font-size: 16px; color: #FFF; line-height: 23px; letter-spacing: 1px; }

#footer .ftTop .ftTopRight ul li.border { font-size: 20px; font-weight: 400; color: rgba(255, 255, 255, 0.42); }

#footer .ftMid { background: url(../images/common/bgMap.jpg) no-repeat center center; background-size: cover; }

#footer .ftMid .container { background: rgba(0, 0, 0, 0.75); padding: 107px 0 140px; text-align: center; max-width: 352px; margin: 0 auto 0 0; }

#footer .ftMid .container p { max-width: 251px; margin: 0 auto; font-family: "Montserrat"; font-weight: 400; font-size: 20px; line-height: 27px; color: #FFF; }

#footer .ftMid .container p span { margin-top: 22px; display: block; }

#footer .ftBot { padding: 20px 0; background: #111111; }

#footer .ftBot p { margin: 5px auto; text-transform: uppercase; font-family: "Montserrat"; font-size: 13px; color: #FFF; }

/*inner pages*/
.inner #content { min-height: 400px; padding: 40px 0; }

/*privacy policy*/
.inPrivacyBox { max-width: 850px; margin: 0 auto; }

.inPrivacyBox p { text-align: justify !important; }

/** Responsive
-------------------------------------------------------*/
/*@media screen and (max-width: 1024px){
	body {min-width: 320px}
	.row {width: 95%}
}*/
/*@media screen and (max-width: 800px){
	#header {padding: 0}
	#header .row {width: 100%}
	#header nav {display:block; height: auto; }
  	#header nav ul { width: 100%; display: none; height: auto;border-bottom:5px solid #000; padding: 0 15px;}
  	#header nav ul li { width: 100%;position: relative; }
  	#header nav ul li a { display: block; float:none; padding: 10px 0;}
  	#header nav a {text-align: left; width: 100%;}
	#header nav a strong {position: absolute; top: 50%; transform: translateY(-50%); left: 15px;}
	#header nav a#pull {display: block; color: #fff; background-color: #000; height: 30px;padding: 10px 0; width: 100%; position: relative;}
	#header nav a#pull:after { content:""; background: url('../images/nav-icon.png') no-repeat; width: 20px; height: 20px; display: inline-block; position: absolute; right: 15px; top: 50%; transform: translateY(-50%);}
  #header nav li.border{display: none;}
	.cta{background: #035B96  url("../images/common/phonecall.png") no-repeat center center;border-bottom-left-radius: 40px;border-top: 2px solid #013f9a ;border-top-left-radius: 40px;bottom: 1%;display: block;height: 80px;position: fixed;right: 0;text-decoration: none; text-indent: -9999em;width: 100px;z-index: 999;}
}*/
